# В package.json при запуске может переопределяться:
LOG_LEVEL=DEBUG
# Окружение
NODE_ENV=development

#############################
# Counter Configuration
#############################

# MongoDB Connection Settings
MONGODB_CONNECTION_STRING=mongodb://admin:admin@localhost:27020
MONGODB_CONNECTION_STRING1=mongodb://admin:admin@192.168.88.54:27020
MONGODB_CONNECTION_STRING2=mongodb://admin:admin@192.168.88.55:27020
MONGODB_DATABASE_NAME=counters

# MongoDB Connection Options
# https://www.mongodb.com/docs/manual/reference/write-concern/
# "majority" or number 0, 1, 2 ...
MONGODB_WRITE_CONCERN={"w": 1, "j": false, "wtimeout": 5000}
# https://www.mongodb.com/docs/manual/reference/read-concern/
# "available", "local"
MONGODB_READ_CONCERN={"level": "local"}
# Предпочитаемый для чтения узел "primaryPreferred", "secondaryPreferred"
MONGODB_AGGREGATE_READ_PREFERENCE={"mode": "secondaryPreferred"}
# https://www.mongodb.com/docs/drivers/go/current/connect/connection-options/connection-pools/
MONGODB_MIN_POOL_SIZE=20
MONGODB_MAX_POOL_SIZE=100
MONGODB_MAX_CONNECTING=10
# The maximum amount of time a connection should remain idle in the connection pool before being marked idle and remove
MONGODB_MAX_IDLE_TIME_MS=0
# TCP Connection no delay
MONGODB_NO_DELAY=true
# Число строк в пакете при передаче по сети
MONGODB_BATCH_SIZE=5000
# Сжатие клиентских данных: none,snappy,zlib,zstd
MONGODB_COMPRESSOR=zstd
# Уровень сжатия для zlib (zlibCompressionLevel)
MONGODB_COMPRESSION_LEVEL=6

# Флаг создания индивидуального клиента для MongoDB в каждом процессе
# (увеличивает число подключений к базе данных)
INDIVIDUAL_PROCESS_CLIENT=true
# Признак создания индивидуальных объектов для доступа к коллекциям
INDIVIDUAL_COLLECTION_OBJECT=false
# Признак запрета сохранения фактов и индексных значений (только запросы)
DISABLE_SAVE=false

# Fact Generation Settings
MESSAGE_CONFIG_PATH=messageConfig.json
INDEX_CONFIG_PATH=indexConfig.json
COUNTER_CONFIG_PATH=countersConfig.json
FACT_TARGET_SIZE=500
#MESSAGE_CONFIG_PATH=prod/messageConfig.json
#INDEX_CONFIG_PATH=prod/indexConfig.json
#COUNTER_CONFIG_PATH=prod/countersConfig.json

# Настройка алгоритма либо INCLUDE_FACT_DATA_TO_INDEX, либо LOOKUP_FACTS
# INCLUDE_FACT_DATA_TO_INDEX = true - данные копируются в коллекцию индексных значений
# LOOKUP_FACTS = true - поиск по фактам через lookup
# false + false - index.find + facts.aggregate
# false + true - index.aggregate with lookup
# true + true - index.aggregate
INCLUDE_FACT_DATA_TO_INDEX=false
LOOKUP_FACTS=false

# Способ обновления индексных значений false - отдельными 
INDEX_BULK_UPDATE=true
# Максимальная глубина записей для подсчета статистики
MAX_DEPTH_LIMIT=1000
# Считается ли undefined значение поля в условии расчета == true для evaluationConditions
UNDEFINED_FIELD_IS_TRUE=true

# Максимальное число счетчиков для обработки фатка. 0 - нет ограничения
MAX_COUNTERS_PROCESSING=10
# Число счетчиков в одном запросе. 0 - нет ограничения. Большое число счетчиков разбивается на меньшее число запросов.
MAX_COUNTERS_PER_REQUEST=2
# Имена счетчиков, которые участвуют в запросе. Постое значение - нет ограничений.
ALLOWED_COUNTERS_NAMES=common_counter,test_counter_1_f1_string_filter,test_counter_2_f2_enum_filter

#############################
# Web Service Configuration
#############################

# Основные настройки
WEB_PORT=3000
CLUSTER_WORKERS=4
# Порт для сбора общих метрик
# Метрики всех Worker-ов доступны по адресу: http://host:${METRICS_PORT}/metrics
METRICS_PORT=12081

# CORS настройки
CORS_ORIGIN=*

# Rate limiting
RATE_LIMIT_MAX=1000
RATE_LIMIT_WINDOW_MS=900000

# Лимиты запросов
JSON_LIMIT=16mb
URL_LIMIT=16mb

# Включение записи запросов в журнал
ENABLE_REQUEST_LOGGING=true
# Частота записи запросов в журнал (одна запись на LOG_SAVE_FREQUENCY запросов)
LOG_SAVE_FREQUENCY=100
# Режим раширенной отладки (вывод JSON объектов)
DEBUG_MODE=false
# Записывать ошибки в файл
WRITE_ERRORS_TO_FILE=false

# Список разрешенных типов сообщений через запятую
# Если не задан, обрабатываются все типы
# Пример: ALLOWED_MESSAGE_TYPES=1,2,3,50,70
ALLOWED_MESSAGE_TYPES=1,2,3,4,5,6,7,8,9,10,50,70

# Коэффициент уменьшения обрабатываемых запросов 
# (по умолчанию 1, что означает обработку всех запросов)
IRIS_TRAFFIC_REDUCTION_FACTOR=1
# Значение по модулю IRIS_TRAFFIC_REDUCTION_FACTOR, которое используется для проверки
IRIS_TRAFFIC_REDUCTION_VALUE=0

####################################
# Переменные тестирования сервиса
####################################
SERVICE_HOST=http://localhost:3000
TEST_FORMAT=XML
#TEST_FORMAT=JSON
