# В package.json при запуске может переопределяться:
LOG_LEVEL=DEBUG
# Окружение
NODE_ENV=development

#############################
# Counter Configuration
#############################

# MongoDB Connection Settings
MONGODB_CONNECTION_STRING=mongodb://admin:admin@localhost:27020
MONGODB_CONNECTION_STRING1=mongodb://admin:admin@192.168.88.54:27020
MONGODB_CONNECTION_STRING2=mongodb://admin:admin@192.168.88.55:27020
MONGODB_DATABASE_NAME=counters

# MongoDB Connection Options
# https://www.mongodb.com/docs/manual/reference/write-concern/
# "majority" or number 0, 1, 2 ...
MONGODB_WRITE_CONCERN={ w: 1, j: false, wtimeout: 5000 }
# https://www.mongodb.com/docs/manual/reference/read-concern/
# "available", "local"
MONGODB_READ_CONCERN={ level: "local" }
# https://www.mongodb.com/docs/drivers/go/current/connect/connection-options/connection-pools/
MONGODB_MIN_POOL_SIZE=20
MONGODB_MAX_POOL_SIZE=100
MONGODB_MAX_CONNECTING=10

# Флаг создания индивидуального клиента для MongoDB в каждом процессе
# (увеличивает число подключений к базе данных)
INDIVIDUAL_PROCESS_CLIENT=true

# Fact Generation Settings
MESSAGE_CONFIG_PATH=messageConfig.json
INDEX_CONFIG_PATH=indexConfig.json
COUNTER_CONFIG_PATH=countersConfig.json
FACT_TARGET_SIZE=500
#MESSAGE_CONFIG_PATH=prod/messageConfig.json
#INDEX_CONFIG_PATH=prod/indexConfig.json
#COUNTER_CONFIG_PATH=prod/countersConfig.json

# Настройка алгоритма либо INCLUDE_FACT_DATA_TO_INDEX, либо LOOKUP_FACTS
# Fact Indexing Settings
INCLUDE_FACT_DATA_TO_INDEX=true
# Получение данных из facts через lookup
LOOKUP_FACTS=false
# Максимальная глубина записей для подсчета статистики
MAX_DEPTH_LIMIT=1000

#############################
# Web Service Configuration
#############################

# Основные настройки
WEB_PORT=3000
CLUSTER_WORKERS=4

# CORS настройки
CORS_ORIGIN=*

# Rate limiting
RATE_LIMIT_MAX=1000
RATE_LIMIT_WINDOW_MS=900000

# Лимиты запросов
JSON_LIMIT=16mb
URL_LIMIT=16mb

# Включение записи запросов в журнал
ENABLE_REQUEST_LOGGING=true
# Частота записи запросов в журнал (одна запись на LOG_SAVE_FREQUENCY запросов)
LOG_SAVE_FREQUENCY=100

# Список разрешенных типов сообщений через запятую
# Если не задан, обрабатываются все типы
# Пример: ALLOWED_MESSAGE_TYPES=1,2,3,50,70
ALLOWED_MESSAGE_TYPES=1,2,3,4,5,6,7,8,9,10,50,70

# Коэффициент уменьшения обрабатываемых запросов 
# (по умолчанию 1, что означает обработку всех запросов)
IRIS_TRAFFIC_REDUCTION_FACTOR=1

####################################
# Переменные тестирования сервиса
####################################
SERVICE_HOST=http://localhost:3000
TEST_FORMAT=XML
#TEST_FORMAT=JSON
