# В package.json при запуске может переопределяться:
LOG_LEVEL=DEBUG
# Окружение
NODE_ENV=development

#############################
# Counter Configuration
#############################

# MongoDB Connection Settings
MONGODB_CONNECTION_STRING=mongodb://admin:admin@localhost:27020
MONGODB_CONNECTION_STRING1=mongodb://admin:admin@192.168.88.54:27020
MONGODB_CONNECTION_STRING2=mongodb://admin:admin@192.168.88.55:27020
MONGODB_DATABASE_NAME=counters

# Fact Generation Settings
MESSAGE_CONFIG_PATH=messageConfig.json
INDEX_CONFIG_PATH=indexConfig.json
COUNTER_CONFIG_PATH=countersConfig.json
FACT_TARGET_SIZE=500
#MESSAGE_CONFIG_PATH=prod/messageConfig.json
#INDEX_CONFIG_PATH=prod/indexConfig.json
#COUNTER_CONFIG_PATH=prod/countersConfig.json

# Performance Settings
FACT_BATCH_SIZE=1000
FACT_INDEX_BATCH_SIZE=100

# Loop Settings
FACT_LOOP_INTERVAL=1000
FACT_ERROR_INTERVAL=2000

#############################
# Web Service Configuration
#############################

# Основные настройки
WEB_PORT=3000
CLUSTER_WORKERS=4

# CORS настройки
CORS_ORIGIN=*

# Rate limiting
RATE_LIMIT_MAX=1000
RATE_LIMIT_WINDOW_MS=900000

# Лимиты запросов
JSON_LIMIT=16mb
URL_LIMIT=16mb

# Включение записи запросов в журнал
ENABLE_REQUEST_LOGGING=true
# Частота записи запросов в журнал (одна запись на LOG_SAVE_FREQUENCY запросов)
LOG_SAVE_FREQUENCY=100

# Список разрешенных типов сообщений через запятую
# Если не задан, обрабатываются все типы
# Пример: ALLOWED_MESSAGE_TYPES=1,2,3,50,70
ALLOWED_MESSAGE_TYPES=1,2,3,4,5,6,7,8,9,10,50,70

# Коэффициент уменьшения обрабатываемых запросов 
# (по умолчанию 1, что означает обработку всех запросов)
IRIS_TRAFFIC_REDUCTION_FACTOR=1

####################################
# Переменные тестирования сервиса
####################################
SERVICE_HOST=http://localhost:3000
TEST_FORMAT=XML
#TEST_FORMAT=JSON
